 @model Categorie
<h1>Modifier une catégorie</h1>
<form method="post">
	<div class="mb-3 raw">
		<label asp-for="Nom"></label>
		<input asp-for="Nom" class="form-control" />
		<span asp-validation-for="Nom" class="text-danger"></span>
	</div>
	<div class="mb-3 raw">
		<label asp-for="OrderAffichage"></label>
		<input asp-for="OrderAffichage" class="form-control" />
		<span asp-validation-for="OrderAffichage" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary form-control"> Modifier Catégorie</button>
	<a asp-controller="Categorie" asp-action="Index" class="btn btn-outline-secondary formcontrol">Retour à la liste</a>
</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}